<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <p>Winston Chu</p>
    <p>67-328: HW15</p>
    <p>Read the below instructions to add, get, update, or delete users in the system database:</p>
    <p>For PUT add a query string with an attribute/value pair to the request body:</p>
    <ul>
      <li>Example:</li>
      <li>/create/username=billsmith&password=pw123</li>
    </ul>
    <p>For GET add a query string with an attribute/value pair to Retrieve</p>
    <ul>
      <li>Example:</li>
      <li>/retrieve?username=wpchu</li>
    </ul>
    <p>For UPDATE, use POST with the following body example form:</p>
    <ul>
      <li>/update/find={"username":"wpchu"}&update={"$set":{"password":"new_pw123"}}</li>
      <li>however, this won't be used that much in my final project b/c users will not be able to update their information</li>
    </ul>
    <p>For DELETE, add a query to find the user you want to delete:</p>
    <ul>
      <li>Example:</li>
      <li>/delete/find={"username":"wpchu"}</li>
    </ul>
  </body>
</html>