<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- taken from Google's hosted jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/clientSocket.js"></script>
    <script src="/js/student_functions.js"></script>
    <title>Lobby Tic-Tac-Toe</title>
  </head>
  <body>
    <h2>Welcome to Lobby Tic-Tac-Toe!</h2>
    <h4>Login or Register to get Started</h4>
    <p><%= error_message %></p>
    <form id="get_form">
      Enter a username or password to login:<br>
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Login">
    </form>
    <form id="put_form">
      Use this form to register:<br>
      Username: <input type="text" name="username"><br>
      Password: <input type="text" name="password"><br>
      <input type="submit" value="Register">
    </form>
    <!-- <form action="/login">
      <input type="submit" value="Login" />
    </form>
    <p>Winston Chu</p>
    <p>67-328: HW15</p>
    <p>Read the below instructions to add, get, update, or delete users in the system database:</p>
    <p>For PUT add a query string with an attribute/value pair to the request body:</p>
    <ul>
      <li>Example:</li>
      <li>/create/username=billsmith&password=pw123</li>
    </ul>
    <p>For GET add a query string with an attribute/value pair to Retrieve</p>
    <ul>
      <li>Example:</li>
      <li>/retrieve?username=wpchu</li>
    </ul>
    <p>For UPDATE, use POST with the following body example form:</p>
    <ul>
      <li>/update/find={"username":"wpchu"}&update={"$set":{"password":"new_pw123"}}</li>
      <li>however, this won't be used that much in my final project b/c users will not be able to update their information</li>
    </ul>
    <p>For DELETE, add a query to find the user you want to delete:</p>
    <ul>
      <li>Example:</li>
      <li>/delete/find={"username":"wpchu"}</li>
    </ul>
    <h3>Or, to make things easy, just use this table below and fill in the forms to do each CRUD action.</h3>
    <div id="message"></div>
    <table>
      <tr>
        <th>GET</th>
        <th>PUT</th>
      </tr>
      <tr>
        <td>
          <form id="get_form">
            Enter a username or password to retrieve a user:<br>
            Username: <input type="text" name="username"><br>
            Password: <input type="text" name="password"><br>
            <input type="submit" value="Retrieve User">
          </form>
        </td>
        <td>
          <form id="put_form">
            Use this form to add a user:<br>
            Username: <input type="text" name="username"><br>
            Password: <input type="text" name="password"><br>
            <input type="submit" value="Add User">
          </form>
        </td>
      </tr>
      <tr>
          <th>POST</th>
          <th>DELETE</th>
        </tr>
      <tr>
        <td>
          <form id="post_form">
            Use this form to update a user:<br>
            Use these fields to first find a user:<br>
            Username: <input type="text" name="username"> <br>
            Password: <input type="text" name="password"> <br>
            Use these fields to change the fields:<br>
            Username: <input type="text" name="change_username"> <br>
            Password: <input type="text" name="change_password"> <br>
            <input type="submit" value="Update User">
          </form>
        </td>
        <td>
          <form id="delete_form">
            Use this form to delete a user:<br>
            Username: <input type="text" name="username"> <br>
            Password: <input type="text" name="password"> <br>
            <input type="submit" value="Delete User">
          </form>
        </td>
      </tr>
    </table> -->
  </body>
</html>