<!DOCTYPE html>
<html>
  <head>
    <title>Lobby Tic-Tac-Toe</title>
    <!-- taken from Google's hosted jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/student_functions.js"></script>
  </head>
  <body>
    welcome to the lobby <%= username %>!
  </body>
</html>