<!DOCTYPE html>
<html>
  <head>
    <title>Lobby Tic-Tac-Toe</title>
    <!-- taken from Google's hosted jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/clientSocket.js"></script>
  </head>
  <body>
    Welcome to the lobby <%= username %>!
    <ul id="player_list"></ul>
  </body>
</html>