<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <script src="/js/student_functions.js"></script>
  </head>
  <body>
    <form id="get_form">
      Enter a username or password to login:<br>
      Username: <input type="text" name="username"><br>
      Password: <input type="text" name="password"><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>