#lobby, #game, #get_form, #put_form, #logout, #opponent_id {
  /* initially hide these */
  display: none;
}

#board {
  position: relative;
  display: inline-block;
}

.cell {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 40px;
}

#welcome-buttons, #login_button_row, #register_button_row, #error, #info, 
#playing_against, #resign_button, #turn, #board_wrapper, #symbol, #username {
  text-align: center;
}

#username {
  font-style: italic;
  font-weight: bold;
}

#error {
  display: none;
  font-style: italic;
  background-color: #FCC;
  border: solid 1px #C66;
	color: #800000;
  padding: 5px 8px;
}

#info {
  display: none;
  font-style: italic;
  background-color: rgb(255, 231, 204);
  border: solid 1px rgb(204, 148, 102);
	color: #ec8702;
  padding: 5px 8px;
}

#playing_against {
  background-color: #CFC;
  border: solid 1px #6C6;
  border-bottom: none;
	color: #00AB56;
  padding: 5px 8px;
  font-style: italic;
}

#symbol {
  background-color: #CFC;
  border: solid 1px #6C6;
  border-top: none;
	color: #00AB56;
  padding: 5px 8px;
  font-style: italic;
  margin-bottom: 10px;
}

#turn {
  font-weight: bold;
}

#messages {
  height: 30%;
  overflow: scroll;
  border: solid 1px black;
  padding: 10px;
}

#message_area {
  border: solid 1px black;
}

@media only screen and (max-device-width: 768px) {
  /* Styles */
  #message_field {
    display: inherit;
  }
}

@media only screen and (min-device-width: 767px) {
  /* Styles */
  #message_field {
    display: inline-flex;
  }
}

#message_send {
  margin-left: 1%;
  margin-top: 1%;
}